{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Green Marvel</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'products/assets/gm.jpeg' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'products/css/styles.css' %}" rel="stylesheet" />
        <!-- jquery cdm-->
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">Green Marvel</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'index' %}">Get To Know Us</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home' %}">Products</a></li>
                    </ul>
                    <form class="d-flex">
                        <a href="{% url 'cart_summary' %}"
                         class="btn btn-outline-dark" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill" 
                                id="cart_quantity">{{ cart|length }}</span></a>
                    </form>
                </div>
            </div>
        </nav>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  {{message}}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
        
       <div class="container">
        <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    {% if product.sale %}

                    <strike>
                        R{{ product.price }}
                    </strike>
                    &nbsp;
                        R{{ product.sale_price }}

                    {% else %}
                    R{{ product.price }}

                    {% endif %}
                    <br/><br>
                    <div class="col-md-2">Quantity:</div>
                    <div class="col-md-4">
                            <select class="form-select" id="qty-cart">
                              
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                              <option value="6">6</option>
                            </select>
                            </div>
                    <br/><br>
                    <button type="button" value="{{ product.id }}" class="btn btn-secondary" id="add-cart">Add to Cart</button>
                    <br/><br>
                    <form class="d-flex">
                        <a href="{% url 'cart_summary' %}"
                         class="btn btn-outline-dark" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            View Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill" 
                                id="cart_quantity">{{ cart|length }}</span></a>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            </div>



            <br/><br><br/><br><br/><br><br/><br><br/><br><br/><br><br/><br><br/><br>

            <script >
                $(document).on('click', '#add-cart', function(e){
                    e.preventDefault();
                    $.ajax({
                        type: 'POST',
                        url: '{% url 'cart_add' %}',
                        data: {
                            product_id: $('#add-cart').val(),
                            product_qty: $('#qty-cart option:selected').text(),
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            action: 'post'
                        },
                        success: function(json){
                            //console.log(json)
                            document.getElementById("cart_quantity").textContent = json.qty,
                            location.reload();
                        },
                        error: function(xhr, errmsg, err){
                            
                        }
                    });
                })
            </script>
<style>
    .btn-outline-dark:hover {
    background-color: #228B22;
    color: white;
    border-color: #228B22;
}
</style>

<!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Green Marvel 2024</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'products/js/scripts.js' %}"></script>
    </body>
</html>

