{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Green Marvel</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'products/assets/gm.jpeg' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'products/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">Green Marvel</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a></li>
                         <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Orders</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'shipped_dash' %}">Shipped Orders</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="{% url 'not_shipped_dash' %}">Unshipped Orders</a></li>
                                
                            </ul>
                        </li> 
                    </ul>

                </div>
            </div>
        </nav>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  {{message}}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %} 
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Not Shipped</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Products</p>
                </div>
            </div>
        </header>

        <br/><br/>
        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <br/><br/>
                        <h3>Un-Shipped Items</h3>
                        <table class="table table-striped table-hover table-bordered">
                          <thead class="table-dark">
                            <tr>
                              <th scope="col">Order</th>
                              <th scope="col">Price</th>
                              <th scope="col">Customer Name</th>
                              <th scope="col">Customer Email</th>
                              <th scope="col">Date Ordered</th>
                              <!--<th scope="col">Shipped</th>-->
                              <th scope="col">Change Status</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for item in orders %}
                            <tr>
                              <td><a href="{% url 'orders' item.id %}">{{ item.id }}</a></td>
                              <td>R{{ item.amount_paid }}</td>
                              <td>{{ item.full_name }}</td>
                              <td>{{ item.email }}</td> 
                              <!--<td>{{ item.full_name }}</td>-->
                              <td>{{ item.date_ordered }}</td>
                              <td>
                               <form method="POST">
                                  {% csrf_token %}
                                  <input type="hidden" name="shipping_status" value="true">
                                  <input type="hidden" name="num" value={{item.id}}>
                                  <button type="Submit" class="btn btn-success btn-sm">Mark Shipped</button>
                                </form>
                                </td>
                            </tr>
                            {% endfor %}                        
                            
                          </tbody>
                        </table>

                        <br/><br/>
                        <br/><br/>
                    </div>
                </center>
            </div>
        </div>
    

    <br/><br/>
    <br/><br>
    <br/><br>

 {% endblock %}
