{% extends 'base.html' %}
{% load static %}
{% block content %}

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Order History</h1>
                    
                </div>
            </div>
        </header>

        <div class="container">
        	<center>
	            <div class="col-8">
	                <br/><br/>
	                <div class="alert alert-info mt-3">
				<h2>My Orders</h2>
				{% for order in orders %}
				  <div class="order">
				    <p><strong>Order ID:</strong> {{ order.id }}</p>
				    <p><strong>Amount Paid:</strong> R{{ order.amount_paid }}</p>
				    <p><strong>Shipping Address:</strong> {{ order.shipping_address }}</p>
				    <p><strong>Date:</strong> {{ order.created_at|date:"d M Y H:i" }}</p>
				    
				    {% if order.shipped %}
				      <p style="color: green;"><strong>Status:</strong> Shipped on {{ order.date_shipped|date:"d M Y H:i" }}</p>
				    {% else %}
				      <p style="color: orange;"><strong>Status:</strong> Not yet shipped</p>
				    {% endif %}
				  </div>
				  <hr>
				{% endfor %}

				<!--{% if orders %}
				    <ul class="order-history">
				        {% for order in orders %}
				            <li>
				                <strong>Order ID:</strong> {{ order.id }}<br>
				                <strong>Date:</strong> {{ order.date_ordered|date:"Y-m-d H:i" }}<br>
				                <strong>Status:</strong> {{ order.shipped }}<br><br/>
				                <a href="{% url 'track_order' order.id %}" class="btn btn-outline-secondary">Track Order</a>
				            </li>
				        {% endfor %}
				    </ul>
				{% else %}
				    <p>You have no past orders.</p>
				{% endif %}-->
				</div>
			</div>
		</center>
		</div>

		    <br/><br><br/><br><br/><br><br/><br><br/><br><br/><br><br/><br><br/><br><br/><br>
		    
   



  {% endblock %}