{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Green Marvel</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'products/assets/gm.jpeg' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'products/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">Green Marvel</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Payment Notification</h1>
                    <p class="lead fw-normal text-white-50 mb-0">These Payments were successful</p>
                </div>
            </div>
        </header>

        <br/><br/>
        <!--<div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <br/><br/>
                    <div class="card">
                      <div class="card-header">
                        <p>Thank you for your payment, {{ name_first }} {{ name_last }}.</p>
                      </div>
                      <div class="card-body">
                        
                        <p><strong>Order ID:</strong> {{ order_id }}</p>
                        <p><strong>Amount Paid:</strong> R{{ amount_paid }}</p>
                        <p><strong>Status:</strong> {{ status }}</p>
                        <p><strong>Email:</strong> {{ email }}</p>

                        <br/><br/>
                        <h2>Payment Details</h2>

                    ITN:</strong> R{{ payment.itn_payload }}
                        

                      </div>
                    </div>
                    <br/>

                    <br/><br/>
                  </div>
                </center>
            </div>
        </div>-->

        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <br/><br/>
                        <h3>Successful Orders</h3>
                        <table class="table table-striped table-hover table-bordered">
                          <thead class="table-dark">
                            <tr>
                              <th scope="col">Order</th>
                              <th scope="col">Price</th>
                              <th scope="col">Customer Email</th>
                              <th scope="col">Customer Name</th>                             
                              <th scope="col">Status</th>
                              <th scope="col">itn_payload</th>

                            </tr>
                          </thead>
                          <tbody>
                            {% for payment in successful_payments %}
                            <tr>
                              <td>{{ payment.order_id }}</td>
                              <td>R{{ payment.amount_paid }}</td>
                              <td>{{ payment.email }}</td> 
                              <td>{{ payment.name_first }}</td>
                              <td>{{ payment.status }}</td>
                              <td>{{ payment.itn_payload }}</td>
                              <!--<td>
                               <form method="POST">
                                  {% csrf_token %}
                                  <input type="hidden" name="shipping_status" value="true">
                                  <input type="hidden" name="num" value={{item.id}}>
                                  <button type="Submit" class="btn btn-success btn-sm">Mark Shipped</button>
                                </form>
                                </td>-->
                            </tr>
                            {% endfor %}                        
                            
                          </tbody>
                        </table>

                        <br/><br/>
                        <br/><br/>
                    </div>
                </center>
            </div>
        </div>
    
    <br/><br/>
    <br/><br>
    <br/><br>
     
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Green Marvel 2024</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'products/js/scripts.js' %}"></script>
    </body>
</html>
