{% extends 'base.html' %}
{% load static %}
{% block content %}

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Payment Notification</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Your Payment was successful</p>
                </div>
            </div>
        </header>

        <br/><br/>
        <!--<div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <br/><br/>
                    <div class="card">
                      <div class="card-header">
                        <p>Thank you for your payment, {{ name_first }} {{ name_last }}.</p>
                      </div>
                      <div class="card-body">
                        
                        <p><strong>Order ID:</strong> {{ order_id }}</p>
                        <p><strong>Amount Paid:</strong> R{{ amount_paid }}</p>
                        <p><strong>Status:</strong> {{ status }}</p>
                        <p><strong>Email:</strong> {{ email }}</p>

                        <br/><br/>
                        <h2>Payment Details</h2>

                    ITN:</strong> R{{ payment.itn_payload }}                   

                      </div>
                    </div>
                    <br/>

                    <br/><br/>
                  </div>
                </center>
            </div>
        </div>-->

        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <br/><br/>
                        <div class="alert alert-info mt-3">
                            <h3>Your Order is Successful and being processed</h3>
                        </div>
                                        
                        
                        <br/><br/>
                        <br/><br/>
                    </div>
                </center>
            </div>
        </div>
    
    <br/><br/>
    <br/><br>
    <br/><br>
     

  {% endblock %}
