{% extends 'base.html' %}
{% load static %}
{% block content %}

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Payment Notification</h1>
                    <p class="lead fw-normal text-white-50 mb-0"> Your Payment was Unsuccessful</p>
                </div>
            </div>
        </header>

        <br/><br/>
        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <br/><br/>
                    <div class="card">
                      <div class="card-header">
                        Order {{ order.id}} Total - R{{order.amount_paid}}
                      </div>
                      <div class="card-body">
                        It Seems Your Payment was Cancelled, Navigate to Products to Buy Again.

                        <br/><br/>
                        <!--{% if not order.shipped %}
                        <form method="POST">
                          {% csrf_token %}
                          <input type="hidden" name="shipping_status" value="true">
                          <button type="Submit" class="btn btn-success">Mark As Shipped</button>
                        </form>

                        {% else %}
                        <form method="POST">
                          {% csrf_token %}
                          <input type="hidden" name="shipping_status" value="false">
                          <button type="Submit" class="btn btn-danger">Mark As Not Shipped</button>
                        </form>
                        {% endif %}-->

                      </div>
                    </div>
                    <br/>

                    <br/><br/>
                  </div>
                </center>
            </div>
        </div>
    

    <br/><br/>
    <br/><br>
    <br/><br>

       
   {% endblock %}
